{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/presults.css' %}">
{% if latest_question_list %}
<div class="paper">
  {% for question in latest_question_list %}
  <fieldset>
    <legend><h1>{{ forloop.counter }}. {{ question.question_text }}</h1></legend>
    <div>
      {% for choice in question.choice_set.all %}
      <div class="line">
        <label 
        {% if choice.votes and choice.answer %}
          class="correct"
        {% elif choice.votes %}
          class="wanswer"    
        {% elif choice.answer %}
          class="answer"  
        {% endif %}>
          {{ choice.choice_text }} -- {{ choice.recent }}명이 투표함
        </label>
      </div>
      {% endfor %}
    </div>
  </fieldset>
  {% endfor %}
  {% comment %} <a href="{% url 'polls:detail' question.id %}">Vote again?</a> {% endcomment %}
  <div class="btn_set">
    <button class="again" type="button" onclick="location.href='{% url 'polls:paper' %}' ">
      다시 응시
    </button>
    <button class="reset" type="button" onclick="location.href='{% url 'polls:reset' %}' ">
      초기화
    </button>
  </div>
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}